/* Google-Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root{
    --main-color: #2288ff;
    --second-color: #192f6a;
    --text-color: #314862;
    --bg-color: #fff;

    /* Box-Shadow */
    --box-shadow: 2px 2px 18px rgb(14,52,54 / 15%);
}

body{
    color : var(--text-color);
}

section{
    padding: 4.5rem 0 3rem;
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width:100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    margin-left: -37px;
    margin-top: 5px;
}

.logo .bx{
    font-size: 40px;
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu{
    display: none;
}

.btn{
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn:hover{
    background : #3492fd;
}

/* Home */

.home{
    margin-top: 5rem;
    background: url(img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.home-text{
    padding-left: 35px;
}

.home-text h1{
    color: var(--bg-color);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Login */

.login{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 100vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-left: 0px;
    margin-top: 120px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.login-container h2{
    font-size: 1.2rem;
}

.login-container p{
    font-size: 0.9rem;
}

.login-container form{
    display: flex;
    flex-direction: column;
}

.login-container form span{
    font-size: 0.9rem;
    color: #8a8a8a;
    margin-bottom: 4px;
}

.login-container form input{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    background: var(--bg-color);
}

.login-container form select{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 8px;
    margin-bottom: 1rem;
    background: var(--bg-color);
}

.login-container form .button{
    outline: none;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 0.85rem;
    font-weight: 500;
}

.login-container form .button:hover{
    background: #3492fd;
}
.login-container form a{
    font-size: 0.9rem;
    text-align: center;
}

.login-container form p{
    text-align: center;
}

.login-container .btn{
    border-radius: 0;
    text-align: center;
}

.login-image img{
    margin-left: 90px;
    margin-top: 100px;
}@charset "ISO-8859-1";